name: Auto Merge Open Pull Requests

on:
  workflow_dispatch:

jobs:
  merge_all_prs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup GitHub CLI
        uses: actions/setup-gh@v1

      - name: Run Auto Merge Script
        run: |
          # 스크립트에 실행 권한 부여
          chmod +x merge_prs.sh
          
          # 스크립트 실행
          ./merge_prs.sh
        # 2단계에서 설정한 PAT를 gh CLI의 환경 변수로 전달합니다.
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ADMIN_TOKEN }}
